wsaa_ticket_expiration_time=10
wsaa_ticket_expiration_threshold=5
wsaa_ticket_temp_dir=/x/lib/webservices/client/temp

wsaa_service=wsctg
wsaa_destination_dn=cn=wsaahomo,o=afip,c=ar,serialNumber=CUIT 33693450239
wsaa_keystore_path=/x/lib/webservices/client/cer/bunge_afip.p12
wsaa_keystore_signer=bunge
wsaa_keystore_password=bunge
wsaa_i=/x/lib/webservices/client/templates/wsaa_request_param.xml

i=/x/lib/webservices/client/templates/wsaa_login.xml
url=https://wsaahomo.afip.gov.ar/ws/services/LoginCms
u=
p=
b=
w=
ssl=
ks=
ksp=
px=10.1.4.70
pxp=
td=
tp=